.certidoes-container iframe{
    margin-bottom: 50px;
    border: 0.5px solid #aaaa;
}

.navigation-certidoes{
    display: none;
}

.icon-download{
    margin-right: 4px;
}

.icon-download:hover svg path{
    fill: #e2ca1a;
}

.text-certidoes{
    margin-bottom: 25px;
}

@media (min-width:992px) {
    .navigation-certidoes{
        display: block;
    }
}